@{
    ViewData["Title"] = "Admin-DashBoard";
}
<link href="~/css/admin.css" rel="stylesheet" />

<body>
    <div class="dashboard-container">
        <div class="dashboard-header">
            <h2>Welcome to the Admin Dashboard</h2>
        </div>

        <div class="dashboard-nav">
            <a href="/Admin/users" class="btn btn-primary">Users</a>
            <a href="/Admin/admins" class="btn btn-primary">Admins</a>
           
        </div>

        <div class="dashboard-content">
          
            <p>This is where you can manage users and admins.</p>
        </div>
    </div>
</body>
</html>
