@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
    background-color: #111 !important;
    overflow-x: hidden;
}

.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.form-content .form-items {
    border: 3px solid #fff;
    padding: 60px;
    display: inline-block;
    width: 100%;
    min-width: 450px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background: #222;
    border: 1px solid #dd2476;
}

.form-content h3 {
    font-size: 28px;
    color: #c9b1b1; /* Adjust the color as needed */
    margin-bottom: 20px;
    text-align: left;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}

.form-content label,
.was-validated .form-check-input:invalid ~ .form-check-label,
.was-validated .form-check-input:valid ~ .form-check-label {
    color: #fff;
}

.form-content input[type=text],
.form-content input[type=password],
.form-content input[type=email],
.form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}

.form-button .btn-primary {
    background-color: #6C757D;
    outline: none;
    border: 0px;
    box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #495056;
    outline: none !important;
    border: none !important;
    box-shadow: none;
}

.invalid-feedback {
    color: #ff606e;
}

.valid-feedback {
    color: #2acc80;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .form-content .form-items {
        padding: 30px;
        min-width: 300px;
    }

    .form-content h3 {
        font-size: 24px;
    }

    .form-content p {
        font-size: 12px;
    }

    .form-content input[type=text],
    .form-content input[type=password],
    .form-content input[type=email],
    .form-content select,
    .form-content textarea {
        font-size: 13px;
    }
}

@media (max-width: 576px) {
    .form-content .form-items {
        padding: 20px;
        min-width: 250px;
    }

    .form-content h3 {
        font-size: 20px;
    }

    .form-content p {
        font-size: 11px;
    }

    .form-content input[type=text],
    .form-content input[type=password],
    .form-content input[type=email],
    .form-content select,
    .form-content textarea {
        font-size: 12px;
    }
}
