@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
html {
    font-size: 14px;
}
*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar {
    background: #222;
    border-bottom: 1px solid #dd2476;
    padding-top: 0;
    padding-bottom: 0;
}

.btn-primary {
    background-color: #6C757D;
    outline: none;
    border: 0px;
    box-shadow: none;
}

.navbar-nav {
    column-gap: 8px;
}
.btn-primary:hover{
    background-color:gray !important    ;
}
    /*.navbar-nav .nav-link:hover {
        color: gray !important;*/ /* Set hover text color to gray */
    /*}*/
